@model  NewsWebsite.ViewModels.Newsletter.NewsletterViewModel
<link href="~/CacheFiles/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/CacheFiles/lib/sweetalert2/dist/sweetalert2.min.js" asp-append-version="true"></script>

<div class="single-widget newsletter-widget mb-4 border">
    <!-- Section Heading -->
    <div class="section-heading style-2 mb-30">
        <h4>عضویت در خبرنامه</h4>
        <div class="line"></div>
    </div>
    <p>جهت دریافت جدیدترین اخبار ایمیل خود را وارد کنید.</p>
    <!-- Newsletter Form -->
    <div class="newsletter-form">
        <form asp-action="RegisterInNewsLetter" asp-controller="NewsLetter" asp-area="Admin" method="post">
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <input asp-for="Email" class="form-control mb-15" placeholder="ایمیل خود را وارد کنید">
            <button type="button" class="btn vizew-btn w-100" data-save="Ajax">عضویت</button>
            @if (ViewData.ModelState.IsValid.ToString() == "False")
            {
                <div asp-validation-summary="All" class="alert alert-danger mt-2"></div>
            }
        </form>
    </div>
</div>
