
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-5 mt-5" style="min-height:126px"> 
    <div class="m-5">
        <p class="alert alert-success">
            کاربر عزیز <br />
            حساب کاربری شما با موفقیت فعال شد.<br />
            حالا می توانید با نام کاربری و کلمه عبور خود وارد سایت شوید.
        </p>
    </div> 
</div>

